@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Listado de acciones";
    Page.SubTitle = "Características";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En la sección de códigos podrá visualizar los parámetros establecidos por el sistema que determinan una serie de
                    características específicas dentro de la aplicación.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/codigos1.jpg" alt="Codigos" />
    </div>
</div>