@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Listado de acciones";
    Page.SubTitle = "Características";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Entre las características de los códigos podrá encontrar según sea la sección elegida diversas funciones entre las cuales se
                    pueden encontrar:<br />
                    <br /> -Lote: grupo de animales distribuidos por la hacienda<br />
                    -	Plan sanitario: esta opción permite definir la programación de las vacunas<br />
                    -	Color: establece un rasgo físico del animal como el pelaje<br />
                    -	Condición corporal: evalúa los aspectos físicos del animal<br />
                    -	Clasificación: evaluaciones por fenotipo<br />
                    -	Propietario: define los encargados de los animales o en su defecto el dueño de los mismos<br />
                    -	Raza: determina el tipo de características del animal<br />
                    -	Diagnóstico clínico: provee los resultados de las evaluaciones clínicas<br />
                    -	Diagnostico reproductivo: muestra los resultados de las evaluaciones reproductivas del animal<br />
                    -	Tratamiento clínico: registra las terapias clínicas<br />
                    -	Tratamiento reproductivo: registra las terapias de reproducción<br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/codigos1.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/codigos1.jpg" alt="Codigos" />
        </a>
    </div>
</div>