@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Principal";
    Page.SubTitle = "Características";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Los códigos son parámetros claves prestablecidos por el sistema con la función de mantener un orden estructural de todo el
                    contenido de su hacienda como lo son sus diferentes rebaños o ganados.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/principal_codigo.jpg" alt="Codigos" />
    </div>
</div>