@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Principal";
    Page.SubTitle = "Características";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Los códigos son parámetros claves prestablecidos por el sistema con la función de mantener un orden estructural de todo el
                    contenido de su hacienda y estos se dividen en las siguientes categorías:
                </p>
                <p>
                    -	Generales
                    -	Características
                    -	Diagnósticos
                    -	Tratamientos
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/principal_codigo.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/principal_codigo.jpg" alt="Codigos" />
        </a>
    </div>
</div>