@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Listado";
    Page.SubTitle = "Detalles del animal";
}

<div class="row">
    <div class="col-md-8">
        <p>
            Los códigos son unas de las maneras de simplificar las opciones de su ganado, como otorgarles nombres únicos a sus animales
            para poder identificarlos de una manera más fácil y concreta teniendo a disposición cada animal al momento de buscarlo
            en la lista de animales.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/codigos1.jpg" alt="codigos" />
    </div>
</div>