@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Bienvenido";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<div class="row">
    <div class="col-md-12">
       @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Guía que describe detalladamente todas las funciones de la aplicación ganadera GanSoft App para una mejor experiencia del usuario.
        </p>
    </div>
    <div class="col-xs-2 text-center">
        <img class="img-responsive" src="~/Areas/GanSoftApp/Content/img/logo.png" alt="Logo" />
    </div>
    <div class="col-xs-10">
        <p>
            Aplicación para control y manejo de rebaños, desarrollada para plataformas móviles ofreciendo al usuario una herramienta versátil, sencilla y completa para optimizar el manejo de sistemas de producción animal.
        </p>
        <p>
        <p>
            Permite mantener la información de sus animales ordenada y precisa, todo en la palma de su mano. Funciona totalmente desconectada (no requiere conexión a internet), sin embargo, si se tiene una conexión a internet los datos se respaldarán automáticamente en el servidor de GanSoft Web.
        </p>
    </div>
</div>
