@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Información";
    Page.SubTitle = "Aspectos de la licencia";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Texto de la pagina
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/perfil.jpg" data-lightbox="image-1" data-title="#">
            <img class="img-responsive" src="~/images/captures/perfil.jpg" alt="Información del perfil" />
        </a>
    </div>
</div>

