@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Información";
    Page.SubTitle = "Aspectos de la cuenta registrada";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección del manual puede visualizar la información referente a la cuenta de usuario con la cual ha iniciado sesión,
                    comprobando a quien pertenezca la cuenta, estado de la licencia, días de uso y tiempo de caducidad, como también se muestra
                    la opción de cerrar sesión si desea iniciar sesión con alguna otra cuenta registrada.
                </p>
                <p>
                    Al momento de visualizar la información se mostrarán los datos predefinidos como:
                    -	Nombre: Cuenta a la cual le pertenece la información
                    -	Correo: Cuenta registrada mediante E-mail como servicio de recuperacion de contraseña
                    -	Número: Licencia asociada a la cuenta la cual dispone la cantidad de animales que puede registrar en la aplicación
                    -	Días: Cantidad de fechas restantes antes de la proxima renovación de licencia
                    -	Tiempo: Días que el usuario a empleado la aplicación
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/perfil.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/perfil.jpg" alt="Información del perfil" />
        </a>
    </div>
</div>

