@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Información";
    Page.SubTitle = "Aspectos de la cuenta registrada";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección del manual puede visualizar la información referente a la cuenta de usuario con la cual, ha iniciado sesión, 
                    comprobando a nombre de quien está la cuenta, estado de la licencia, días de uso y tiempo de caducidad, como también se muestra 
                    la opción de cerrar sesión si posee otra cuenta o si desea iniciar sesión con alguna otra cuenta registrada.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/perfil.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/perfil.jpg" alt="Información del perfil" />
        </a>
    </div>
</div>

