@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Perfil";
    Page.SubTitle = "Consulte su información";
}


<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    La sección de perfil le permite visualizar la información de su cuenta y tipo de licencia como también fecha de caducidad,
                    tiempo de uso y le permite cerrar sesion.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img class="img-responsive" src="~/images/Badges/appstore.png" alt="App Store" />
            </div>
            <div class="col-md-6 text-center">
                <img class="img-responsive" src="~/images/Badges/playstore.png" alt="Play Store" />
            </div>
        </div>
        
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/perfil.jpg" alt="Perfil de la Cuenta" />
    </div>
</div>

