@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Perfil";
}


<img class="captures" src="~/images/captures/perfil.jpg" alt="Perfil de la Cuenta"/><div>
    <p>La sección de perfil le permite visualizar la información de sus datos, como tipo de licencia, fecha de caducidad, tiempo de uso y cerrar sesión.</p>
</div>

