@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Principal";
    Page.SubTitle = "Detalles del menú principal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección del manual podrá visualizar el menú principal en un formato que divide las diferentes opciones por categorías
                    para brindar una mejor orientación al usuario acerca de las funciones de la aplicación.
                </p>
                <p>
                    En las cuales se encuentran:
                </p>
                <p>
                    -	Inventario: es la forma de dividir el ganado dependiendo de su propósito productivo
                </p>
                <p>
                    -	Lotes: representa la manera de ubicar el ganado en la hacienda según los valores definidos
                </p>
                <p>
                    -	Estatus reproductivo: especifica los valores del animal y verificar que este acto para reproducirse
                </p>
                <p>
                    -	Estatus productivo: representa los valores de producción de los animales de la hacienda
                </p>
                <p>
                    -	Próximos partos: prevé las fechas del ganado próximo a parir
                </p>
                <p>
                    -	Próximos secados: prevé las fechas para el descanso programado de las vacas
                    Como entre otros.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/Menu_principal.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/Menu_principal.jpg" alt="Distribucion" />
            <a href="~/images/captures/Inicio_sin_datos.jpg" data-lightbox="roadtrip">Sin datos</a>
        </a>
    </div>
</div>

