@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Información";
    Page.SubTitle = "Consulte los datos de su cuenta";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    La sección de perfil le permite visualizar el nombre de usuario, estado de la licencia y días restantes de la 
                    misma. También cuenta con la opción de cerrar sesión si desea cambiar de usuario.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/perfil.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/perfil.jpg" alt="Perfil de la Cuenta" />
        </a>
    </div>
</div>

