@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Inicio de sesión";
    Page.SubTitle = "Comience a utilizar la aplicación";
}

<div class="row">
    <div class="col-md-8">
        <p>
            Para iniciar sesión debe estar previamente registrado y conocer su usuario y contraseña.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/iniciodesesion.jpg" alt="Incio de sesion" />
    </div>
</div>
