@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registrarse";
    Page.SubTitle = "Utilice 30 dias sin limites";
}

<div class="row">
    <div class="col-md-8">
        <p>
            Para registrase en el sistema debe completar los siguientes campos, Nombre se usuario, Correo electrónico, Contraseña y país donde reside al momento, posteriormente presionar la opción de confirmar para finalizar con la operación.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/registro.jpg" alt="Registro de Cuenta" />
    </div>
</div>