@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registrarse";
    Page.SubTitle = "Obtenga 30 días ilimitados";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Para registrase debe completar el formulario que se muestra a continuacion dentro de la aplicación o tambien
                    pueda a traves de nuestro sitio web www.softsupply.com.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/registro.jpg" alt="Inicio de Sesión" />
    </div>
</div>