@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Inicio de sesión";
    Page.SubTitle = "Comience a utilizar la aplicación";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Para iniciar sesión debe estar previamente registrado y conocer su usuario y contraseña.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <a href="https://itunes.apple.com/us/app/gansoft/id1058928443?mt=8" target="_blank">
                    <img class="img-responsive" src="~/images/Badges/appstore.png" alt="App Store" />
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="https://play.google.com/store/apps/details?id=com.softsupply.gansoft" target="_blank">
                    <img class="img-responsive" src="~/images/Badges/playstore.png" alt="Play Store" />
                </a>
            </div>
        </div>

    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/registro.jpg" alt="Registrarse" />
    </div>
</div>