@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registrarse";
    Page.SubTitle = "Obtenga 30 días ilimitados";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Para registrarse debe completar el formulario que se muestra e su pantalla rellenando cada campo con la información
                    correspondiente al igual que también puede realizar su registro a través de nuestro sitio web www.softsupply.com
                </p>
                <p>
                    -	Nombre de usuario: determina el nombre de la cuenta con la cual iniciara sesión en la aplicación.
                </p>
                <p>
                    -	Correo electrónico: de esta manera mantiene su cuenta enlazada con los servicios de email y poder recuperar su contraseña
                    si llegara a olvidarla.
                </p>
                <p>
                    -	Contraseña: proporciona al sistema una clave única suministrada por el usuario y de esa manera poder tener acceso a la
                    información de su cuenta al momento de ingresar.
                </p>
                <p>
                    -	País: determina la locación en la que se encuentra al momento de realizar su registro.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/registro.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/registro.jpg" alt="Inicio de Sesión" />
        </a>
    </div>
</div>