@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Cambio de hacienda";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta sección le permite tener acceso a la información de las diferentes haciendas almacenadas en su dispositivo móvil
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Cambiosdehacienda">Cambios de hacienda</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Cambiosdehacienda">Cambios de hacienda</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Si no dispone de ninguna hacienda al momento de iniciar la aplicación puede hacerlo a través del signo de más que se muestra en
                    la parte superior derecha de la pantalla de la aplicación, luego deberá rellenar los campos correspondientes para la
                    identificación de su hacienda y dependiendo de la cantidad de haciendas en su dispositivo se mostrará una base de datos
                    correspondientes a cada una de las haciendas registradas.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftApp/Content/images/captures/captures/cambion_sin_hacienda.jpg" class="thumbnail" data-lightbox="Cambiodehacienda" data-title="Cambio de hacienda">
                    <img class="img-responsive" src="~/Areas/GanSoftApp/Content/images/captures/cambion_sin_hacienda.jpg" alt="Cambio de hacienda" />
                </a>
                <a href="~/Areas/GanSoftApp/Content/images/captures/cambio_de_hacienda.jpg" data-lightbox="Cambiodehacienda" data-title="Ventana de cambio hacienda"></a>
            </div>
        </div>
    </div>
</article>