@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Planes sanitarios";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_Title")
    </div>
    <div class="col-md-12">
        <p class="lead">
            En la sección de planes sanitarios se pueden programar las fechas o días restantes para la evaluación de los animales o tiempo
            transcurrido para su próxima vacunación programada.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Plansanitario">Plan sanitario</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Plansanitario">Plan sanitario</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Como también muestra los días restantes para la próxima revisión sanitaria de los animales que se encuentran en su hacienda.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftApp/Content/img/captures/planes_sanitarios.jpg" class="thumbnail" data-lightbox="Plansanitario" data-title="Planes sanitarios">
                    <img class="img-responsive" src="~/Areas/GanSoftApp/Content/img/captures/planes_sanitarios.jpg" alt="Menú hierros y señales" />
                </a>
            </div>
        </div>
    </div>
</article>