@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Parto";
    Page.SubTitle = "Nuevas crías del ganado";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En la sección de parto se mostrará el código del animal dispuesta a parir como también:
                </p>
                <p>
                    -	Fecha: Aproximada al día de parto
                </p>
                <p>
                    -	Numero: Cantidad de hembras para el momento del parto.
                </p>
                <p>
                    -	Locación: Lugar de los animales al momento del parto
                </p>
                <p>
                    Luego en la parte inferior podrá establecer los parámetros de las nuevas crías del ganado entre las que encontrará:
                </p>
                <p>
                    -	Código: Parámetro fijo por cada cría recién nacida
                </p>
                <p>
                    -	Sexo: Determina la sexualidad dela la cría
                </p>
                <p>
                    -	Locación: Lugar en el que nació el animal
                </p>
                <p>
                    -	Peso: Kg. Promedio de la cría al momento de nacer
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/parto.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/parto.jpg" alt="Parto" />
        </a>
    </div>
</div>