@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Diagnóstico clínico";
    Page.SubTitle = "Registre su último diagnóstico";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En la sección de diagnóstico clínico se registran las variables de tratamientos y resumenes clínicos del animal
                    al igual que la locación del mismo
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/diagnostico_clinico_vacuna.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/diagnostico_clinico_vacuna.jpg" alt="Diagnóstico clínico" />
        </a>
    </div>
</div>