@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Secado";
    Page.SubTitle = "Días de descanso para el animal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta parte puede encontrar al animal de igual forma que en los pasos anteriores proporcionando el código que identifique al animal que desea, posterior mente se mostrara:
                </p>
                <p>
                    -	Fecha: Aproximación del ultimo día de secado
                </p>
                <p>
                    -	Locación: Lugar donde paso su reposo el animal
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/secado.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/secado.jpg" alt="Secado" />
        </a>
    </div>
</div>