@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Revisión";
    Page.SubTitle = "Atención al ganado";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En la sección de revisión podrá ubicar al animal del cual desea estar informado por medio del código correspondiente al mismo.
                    También se mostrarán los detalles de las revisiones anteriores como, por ejemplo:
                </p>
                <p>
                    -	Fecha: Día de última revisión para el animal
                </p>
                <p>
                    -	Numero: Cantidad de revisiones para el mismo animal
                </p>
                <p>
                    -	Locación: Lugar donde se encontraba el animal al momento de la revisión
                </p>
                <p>
                    -	Diagnostico: Resultado posterior a la revisión del animal
                </p>
                <p>
                    -	Tratamientos: Si posee alguno el animal
                </p>
                <p>
                    -	Días de gestación: Cantidad de días estipulados después de la revisión
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/revision.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/revision.jpg" alt="Revisión" />
        </a>
    </div>
</div>