@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Plan sanitario";
    Page.SubTitle = "Este al tanto de su ganado";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En la sección de planes sanitarios se pueden programar las fechas o días restantes para la evaluación de los animales o tiempo
                    transcurrido para su próxima vacunación programada.
                </p>
                <p>
                    Al igual que también muestra los días restantes para la próxima revisión sanitaria de los animales.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/planes_sanitarios.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/planes_sanitarios.jpg" alt="Codigos" />
        </a>
    </div>
</div>