@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bievenido a GanSoft-App";
}


@*<div class="container-fluid">
    <div class="nav-side-menu">
        <div class="brand">GanSoft App</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard fa-lg"></i> Indice
                    </a>
                </li>
                <li data-toggle="collapse" data-target="#perfil" class="collapsed">
                    <a href="#"><i class="fa fa-gift fa-lg"></i> Perfil <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="perfil">
                    <li class="#"><a href="#">Inicio</a></li>
                    <li><a href="#">Inventario</a></li>
                    <li><a href="#">Listado</a></li>
                    <li><a href="#">Busqueda</a></li>
                </ul>

                <li data-toggle="collapse" data-target="#hacienda" class="collapsed">
                    <a href="#"><i class="fa fa-globe fa-lg"></i> # <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="hacienda">
                    <li>Datos Generales</li>
                    <li>Terminologia</li>
                    <li>Parametros</li>
                    <li>Automatizaciones</li>
                    <li>Cambio de Hacienda</li>
                </ul>

                <li data-toggle="collapse" data-target="#codigos" class="collapsed">
                    <a href="#"><i class="fa fa-car fa-lg"></i> Codigos <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="#">
                    <li>Listado</li>
                </ul>

                <li data-toggle="collapse" data-target="#animales" class="collapsed">
                    <a href="#"><i class="fa fa-car fa-lg"></i> Animales <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="animales">
                    <li>Listado de Busqueda</li>
                </ul>

                <li>
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> Eventos
                    </a>
                </li>
                <li data-toggle="collapse" data-target="#opciones" class="collapsed">
                    <a href="#"><i class="fa fa-car fa-lg"></i> Opciones <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="opciones">
                    <li>Sincronización</li>
                </ul>
            </ul>
        </div>
    </div>
</div>*@