@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bienvenido";
}

<div class="row">
    <div class="col-md-12 text-center">
        <img class="logo" src="~/images/logo.png" alt="Logo" />
    </div>
    <div class="col-md-12">
        <p>
            Aquí encontrara toda la información necesaria acerca de nuestra aplicación y una descripción muy completa de
            como funcionan cada una de sus opciones para el mayor provecho del usuario.
        </p>
    </div>
    <!--TODO: Colocar los badges de google play y appstore con sus enlaces respectivos -->
</div>