@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bienvenido al manual de Gansoft App";
}

<div class="row">
    <div class="col-md-12">
        <h2>
            Guía que describe detalladamente todas las funciones de la aplicación GanSoft para una mejor experiencia del usuario.
        </h2>
    </div>
    <div class="col-md-2 text-center">
        <img class="img-responsive" src="~/images/logo.png" alt="Logo" />
    </div>
    <div class="col-md-10">
        <h2>
            Aplicación para control y manejo de rebaños, desarrollada para plataformas móviles ofreciendo al usuario una herramienta versátil,
            sencilla y completa para optimizar el manejo de sistemas de producción animal. Permite mantener la información de sus animales ordenada
            y precisa, todo en la palma de su mano. Funciona totalmente desconectada (no requiere conexión a internet), sin embargo, si se tiene una
            conexión a internet los datos se respaldarán automáticamente en el servidor de GanSoft Web.
        </h2>
    </div>
    <div class="col-md-12">
        <h3>
            Requerimientos
        </h3>
        <ul>
            <li>Espacio en memoria: 60 Mb.</li>
            <li>Almacenamiento de datos</li>
            <li>Android: Versión 4.0 en adelante</li>
            <li>IOS: Versión 8.0 en adelante</li>
        </ul>
    </div>
    <div class="col-md-6 text-center">
        <a href="https://itunes.apple.com/us/app/gansoft/id1058928443?mt=8" target="_blank">
            <img class="img-responsive" src="~/images/Badges/appstore.png" alt="App Store" />
        </a>
    </div>
    <div class="col-md-6 text-center">
        <a href="https://play.google.com/store/apps/details?id=com.softsupply.gansoft" target="_blank">
            <img class="img-responsive" src="~/images/Badges/playstore.png" alt="Play Store" />
        </a>
    </div>
</div>