@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bienvenido a GanSoft-App";
}


<center>
    <img src="~/images/captures/logoapp.png" alt="Logo app" height="225px" style=" margin:70px 0px;" /><div>
        <p>
            Aquí encontrara toda la información necesaria acerca de nuestra aplicación y una descripción muy completa de
            como funcionan cada una de sus opciones para el mayor provecho del usuario.
        </p>
    </div>
</center>