@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bienvenido";
}

<div class="row">
    <div class="col-md-12 text-center">
        <img class="logo" src="~/images/logo.png" alt="Logo" />
    </div>
    <div class="col-md-12">
        <p>
            Guía que describe detalladamente todas las funciones de la aplicación GanSoft para una mejor experiencia del usuario.
        </p>
    </div>
    <!--TODO: Colocar los badges de google play y appstore con sus enlaces respectivos -->
</div>