@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Automatización";
}




<img class="captures" src="~/images/captures/automatizaciones.jpg" alt="automatizaciones" /><div>
    <p>En esta parte puede programar las próximas fechas de sacado y destete, pasar o cambiar cristas de lugar y ajustar
     la producción a los días deseados.</p>
</div>