@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Automatización";
    Page.SubTitle = "Programe sus cambios de estado automático";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En la sección de automatizaciones se configuran las variables de cambios automáticos, de acuerdo a su peso, edad
                    o ambos.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/automatizaciones.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/automatizaciones.jpg" alt="Distribucion" />
            <a href="~/images/captures/secado_destete.jpg" data-lightbox="roadtrip">Secado/Destete</a>
        </a>
    </div>
</div>