@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cambio de Hacienda";
    Page.SubTitle = "Cambie cuando quiera";
}

<div class="row">
    <div class="col-md-8">
        <p>
            Esta opción le permite tener acceso al resto de las haciendas y visualizar la información que estas contienen guardadas
            anteriormente en su cuenta.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/cambiodehacienda.jpg" alt="Cambio de Hacienda" />
    </div>
</div>