@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cambio de Hacienda";
    Page.SubTitle = "Maneje múltiples haciendas";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta sección le permite visualizar la información de las diferentes haciendas almacenadas en su dispositivo móvil.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/cambiodehacienda.jpg" alt="Cambio de Hacienda" />
    </div>
</div>