@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cambio de Hacienda";
    Page.SubTitle = "Maneje múltiples haciendas";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta sección le permite visualizar la información de las diferentes haciendas almacenadas en su dispositivo móvil.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/cambion_sin_hacienda.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/cambion_sin_hacienda.jpg" alt="Distribucion" />
            <a href="~/images/captures/cambio_de_hacienda.jpg" data-lightbox="roadtrip">Haciendas agregadas</a>
        </a>
    </div>
</div>
