@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cambio de Hacienda";
    Page.SubTitle = "Maneje múltiples haciendas";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta sección le permite tener acceso a la información de las diferentes haciendas almacenadas en su dispositivo móvil
                    Si no dispone de ninguna hacienda al momento de iniciar la aplicación puede hacer a través del signo de más que se muestra en 
                    la parte superior derecha de la pantalla de la aplicación, luego deberá rellenar los campos correspondientes para la 
                    identificación de su hacienda y dependiendo de la cantidad de haciendas en su dispositivo se mostrará una base de datos 
                    correspondientes a cada una de las haciendas registradas anteriormente.

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/cambion_sin_hacienda.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/cambion_sin_hacienda.jpg" alt="Distribucion" />
            <a href="~/images/captures/cambio_de_hacienda.jpg" data-lightbox="roadtrip">Haciendas agregadas</a>
        </a>
    </div>
</div>
