@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Datos Generales";
    Page.SubTitle = "Identifique su hacienda";
}

<div class="row">
    <div class="col-md-8">
        <p>
            En la sección de datos generales se muestra toda la información relacionada con la
            hacienda como nombre, ubicación, propietario, explotación, manejo y zona agroecológica.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/datosgenerales.jpg" alt="Datos generales de la hacienda" />
    </div>
</div>