@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Datos Generales";
    Page.SubTitle = "Identifique su hacienda";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En la sección de datos generales debe completar el formulario que hace parte su hacienda y así verificarla de mejor manera y
                     rellenando cada campo con la información correspondiente.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/datosgenerales.jpg" alt="Datos generales" />
    </div>
</div>