@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Datos Generales";
    Page.SubTitle = "Identifique su hacienda";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En la sección de datos generales debe completar el formulario que hace parte de su hacienda y así configurarla de la mejor
                    manera rellenando cada campo con la información correspondiente.
                </p>
                <p>
                    -	Nombre de la hacienda: al completar este campo mantiene su hacienda identificada y diferenciada de alguna otra que posea en
                    su cuenta registrada
                </p>
                <p>
                    -	Ubicación: espacio geográfico de la hacienda para localizarla de manera correcta
                    -	Propietario: persona responsable de la hacienda o en su defecto dueño único de la misma
                    -	Explotación: define el tipo de ganado que habita en la hacienda y la producción que se obtendrá del mismo entre las cuales
                    se encuentra doble propósito, cría, leche y ceba.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/datosgenerales.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/datosgenerales.jpg" alt="Datos generales" />
        </a>
    </div>
</div>