@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Parámetros";
    Page.SubTitle = "Establezca sus proximos días";
}

<div class="row">
    <div class="col-md-8">
        <p>
            Los parámetros establecen el intervalo de días programados por el usuario según sean las especificaciones 
            del ganado y notificar las acciones correspondientes, en las que se encuentran días de secado pre-parto hasta 
            próximo celo.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/parametros.jpg" alt="Parametros" />
    </div>
</div>