@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Parámetros";
    Page.SubTitle = "Establezca sus variables";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En la sección de parámetros se establecen los valores de manejo de su rebaño, desde los días de secado pre parto hasta
                    la edad mínima al parto.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/parametros.jpg" alt="Parametros" />
    </div>
</div>