@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Parámetros";
    Page.SubTitle = "Establezca sus variables";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En la sección de parámetros se establecen los valores de manejo de su rebaño, desde los días desecado hasta la edad mínima al parto.
                    Entre los parámetros puede seleccionar entre los siguientes campos:
                </p>
                <p>
                    -	Días secado pre-parto: determina los días mínimos de descanso para el animal entre el secado y parto
                    -	Días próximos al parto: valor para estimar la fecha en la cual se efectuará un nuevo parto
                    -	Días mínima gestación: valor mínimo de en el cual se puede establecer un parto
                    -	Días máxima gestación: valor máximo en el cual se puede establecer un parto
                    -	Días de revisión post-parto: determina los días en los cuales el animal será evaluado después del parto
                    -	Días máximos entre revisiones: define el intervalo de revisión entre los diferentes animales
                    -	Próximo celo: define los días en los cual el animal volverá a entrar en celo
                    -	Numero de ordeños: determina la cantidad máxima de ordeños al animal por día
                    -	Crías por parto: función para determinar el número de crías obtenidas por parto
                    -	Edad mínima al parto: valor que define por meses la edad mínima antes del primer parto
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/parametros.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/parametros.jpg" alt="Parametros" />
        </a>
    </div>
</div>