@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Terminología";
    Page.SubTitle = "Configure su especie";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    La sección de terminología le permite configurar los términos de su ganado dependiendo del sexo, especie o etapa de crecimiento.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/terminologia_principal.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/terminologia_principal.jpg" alt="Distribucion" />
            <a href="~/images/captures/terminologia_h.jpg" data-lightbox="roadtrip">Terminologia hembras</a>
            <a href="~/images/captures/terminologia_m.jpg" data-lightbox="roadtrip">Terminologia machos</a>
            <a href="~/images/captures/terminologia_otros.jpg" data-lightbox="roadtrip">Terminologia otros</a>
        </a>
    </div>