@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Terminología";
    Page.SubTitle = "configure su ganado";
}

<div class="row">
    <div class="col-md-8">
        <p>
            La terminología le permite adecuar los parámetros de su ganado tanto como de especies y sexo hasta su etapa de 
            crecimiento, Lactante, Destetada, Joven o Adulta.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/terminologia.jpg" alt="Terminologia" />
    </div>
</div>
