@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Lista de Animales";
    Page.SubTitle = "Encuentre sus animales";
}

<div class="row">
    <div class="col-md-8">
        <p>
            Muestra la información de algunos de sus animales o de todos estos según sea la especificación que se le proporcione
            al sistema al momento de buscar algún animal en particular en la base de datos del sistema.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/muestraanimales.jpg" alt="Listado de animales" />
    </div>
</div>