@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Principal";
    Page.SubTitle = "Acerca de sus animales";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección podrá visualizar los animales registrados en su hacienda al igual que también podrá agregar nuevos animales si
                     en dado caso no los posee, podrá realizar esta operación presionando el signo de más que se encuentra ubicado en la parte 
                    superior derecha, como también podrá seleccionar el orden en que desea verlos.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/Animales_principal.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/Animales_principal.jpg" alt="Distribucion" />
            <a href="~/images/captures/Agregar_un_animal.jpg" data-lightbox="roadtrip">Agregar un animal</a>
        </a>
    </div>
</div>