@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Detalles del animal";
    Page.SubTitle = "Subtitulo";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección podrá observar los detalles específicos de algún animal de su hacienda según sea su configuración anteriormente.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/detalles_del_animal.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/detalles_del_animal.jpg" alt="Distribucion" />
            <a href="~/images/captures/detalles_del_animal_general.jpg" data-lightbox="roadtrip">General</a>
            <a href="~/images/captures/detalles_del_animal_crecimiento.jpg" data-lightbox="roadtrip">Crecimiento</a>
            <a href="~/images/captures/detalles_del_animal_produccion.jpg" data-lightbox="roadtrip">Producción</a>
            <a href="~/images/captures/detalles_del_animal_reproduccion.jpg" data-lightbox="roadtrip">Reproducción</a>
        </a>
    </div>
</div>