@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Detalles del animal";
    Page.SubTitle = "Características generales del animal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En los detalles del animal podrá visualizar las características establecidas para cada uno de los animales que se encuentran en la
                    hacienda, entre las generales se puede encontrar:
                </p>
                <p>
                    -	Id. Electrónico: numeración que identifica al animal en la hacienda y facilita su localización en la lista de búsqueda.
                    -	Nombre: aquí apareceré el nombre o apodo establecido para el animal.
                    -	Nacimiento: fecha en la que nació en animal.
                    -	Madre: nombre de la madre si se encuentra disponible.
                    -	Padre: nombre del padre del animal si se encuentra disponible
                </p>
                <p>
                    Por otro lado, también se muestran las características del animal en las cuales se muestra:
                    -	Raza: grupo étnico al que pertenece el animal.
                    -	Color: descripción de algún carácter físico del pelaje.
                    -	Propietario: encargado del animal o en su defecto el dueño de los mismos.
                    -	Clasificación: grupo al que pertenece el animal.
                </p>
                <p>
                    Detalles del animal según su producción.
                    Estatus productivo:.
                    -	Fecha de inicio.
                    -	Días de producción.
                    -	Producción total.
                    -	Producción ajustada.
                    -	Próximo secado.
                </p>
                <p>
                    Detalles del animal según su reproducción.
                    Estatus reproductivo:..
                    -	Fecha de próximo parto.
                    -	Fecha de próxima revisión.
                    -	Fecha de próximo celo.
                    -	Edad del primer servicio.
                    -	Edad del primer parto.
                    -	Intervalo de partos.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/detalles_del_animal.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/detalles_del_animal.jpg" alt="Distribucion" />
            <a href="~/images/captures/detalles_del_animal_general.jpg" data-lightbox="roadtrip">General</a>
            <a href="~/images/captures/detalles_del_animal_crecimiento.jpg" data-lightbox="roadtrip">Crecimiento</a>
            <a href="~/images/captures/detalles_del_animal_produccion.jpg" data-lightbox="roadtrip">Producción</a>
            <a href="~/images/captures/detalles_del_animal_reproduccion.jpg" data-lightbox="roadtrip">Reproducción</a>
        </a>
    </div>
</div>