@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Detalles del animal";
    Page.SubTitle = "Características generales del animal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En los detalles del animal podrá visualizar las características establecidas para cada uno de los animales que se encuentran en la
                     hacienda, entre las generales se puede encontrar:<br />
                    -	Id. Electrónico: numeración que identifica al animal en la hacienda y facilita su localización en la lista de búsqueda<br />
                    -	Nombre: aquí apareceré el nombre o apodo establecido para el animal<br />
                    -	Nacimiento: fecha en la que nació en animal<br />
                    -	Madre: nombre de la madre si se encuentra disponible<br />
                    -	Padre: nombre del padre del animal si se encuentra disponible
                    Por otro lado, también se muestran las características del animal en las cuales se muestra:<br />
                    -	Raza: grupo étnico al que pertenece el animal<br />
                    -	Color: descripción de algún carácter físico del pelaje<br />
                    -	Propietario: encargado del animal o en su defecto el dueño de los mismos<br />
                    -	Clasificación: grupo al que pertenece el animal<br /><br />
                    Detalles del animal según su producción<br />
                    Estatus productivo:<br /><br />
                    -	Fecha de inicio<br />
                    -	Días de producción<br />
                    -	Producción total<br />
                    -	Producción ajustada<br />
                    -	Próximo secado<br /><br />
                    Detalles del animal según su reproducción<br />
                    Estatus reproductivo:<br /><br />
                    -	Fecha de próximo parto<br />
                    -	Fecha de próxima revisión<br />
                    -	Fecha de próximo celo<br />
                    -	Edad del primer servicio<br />
                    -	Edad del primer parto<br />
                    -	Intervalo de partos<br />
                                    </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/detalles_del_animal.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/detalles_del_animal.jpg" alt="Distribucion" />
            <a href="~/images/captures/detalles_del_animal_general.jpg" data-lightbox="roadtrip">General</a>
            <a href="~/images/captures/detalles_del_animal_crecimiento.jpg" data-lightbox="roadtrip">Crecimiento</a>
            <a href="~/images/captures/detalles_del_animal_produccion.jpg" data-lightbox="roadtrip">Producción</a>
            <a href="~/images/captures/detalles_del_animal_reproduccion.jpg" data-lightbox="roadtrip">Reproducción</a>
        </a>
    </div>
</div>