@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Distribución";
    Page.SubTitle = "Subtitulo";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    La distribución tiene la función de separar su ganado en las diferentes categorías dependiendo de la función de cada uno de sus
                    animales de la hacienda, en los cuales se encuentran por inventario, estatus reproductivo, lotes, y estatus productivo.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>