@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Distribución";
    Page.SubTitle = "Porcentaje de ganado";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    La distribución tiene la función de separar su ganado en las diferentes categorías que se plantean según la configuración
                     establecida para cada animal, mostrando una lista graficada y completa de cada animal en la hacienda que alberga la misma 
                    configuración.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>