@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cambio de Hacienda";
}




<img src="~/images/captures/cambiodehacienda.jpg" alt="Cambio de Hacienda" height="550px" style="float:right; margin:10px;" /><div>
    <p>Esta opción le permite tener acceso al resto de las haciendas y visualizar la información que estas contienen guardadas anteriormente en su cuenta.</p>
</div>