@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Datos Generales";
}




<img class="captures" src="~/images/captures/datosgenerales.jpg" alt="Datos generales de la hacienda" /><div>
    <p>En la sección de datos generales se muestra toda la información proporcionada por el usuario tanto como nombre de la hacienda como ubicación, propietaria, explotación, manejo y zona agroecológica.</p>
</div>