@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Datos Generales";
}




<img src="~/images/captures/datosgenerales.jpg" alt="Datos generales de la hacienda" height="550px" style="float:right; margin:10px;" /><div>
    <p>Aquí se muestra la información general suministrada por el usuario, como son Nombre de la Hacienda, Ubicación Propietario y Explotación, entre algunas otras para poder llevar un control preciso sobre los datos de cada una de las haciendas.</p>
</div>