@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Parámetros";
}




<img src="~/images/captures/parametros.jpg" alt="Parametros" height="550px" style="float:right; margin:10px;" /><div>
    <p>Los parámetros funcionan para establecer un control de eventos adecuados a los días que el usuario seleccione como correspondientes a cada una de las funciones de su hacienda y poder llevar un manejo de todas las actividades de esta según su programación. </p>
</div>