@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Terminología";
}



<img class="captures" src="~/images/captures/terminologia.jpg" alt="Terminologia" /><div>
    <p>La terminología le permite adecuar los parámetros de su ganado tanto como de especies y sexo hasta su etapa de crecimiento, Lactante, Destetada, Joven o Adulta.</p>
</div>
