@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Terminología";
}



<img src="~/images/captures/terminologia.jpg" alt="Terminologia" height="550px" style="float:right; margin:10px;" /><div>
    <p>En cuenta a la terminología esta le permite adecuar las características exactas de cada animal según sea su condición física, como los factores primordiales que son Sexo, Lactante, Destetada, Joven, Adulta, cada opción se ajusta al tipo de animal según sea su tipo de raza o sexo.</p>
</div>
