@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Opciones";
    Page.SubTitle = "Sincroniza tu App";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Aquí podrá obtener la información de contacto con nuestro sistema de soporte, Corroborar la versión actual de la aplicación y la opción de 
                    sincronizar su cuenta de usuario con nuestro servidor.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/opciones.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/opciones.jpg" alt="Opciones principales" />
        </a>
    </div>
</div>