@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Eventos";
}




<img src="~/images/captures/eventos.jpg" alt="Lista de eventos" height="550px" style="float:right; margin:10px;"/><div>
    <p>
        En esta sección usted podrá programar sus actividades, mas importantes como a su vez obtendrá las notificaciones más importantes de sus próximos
         eventos como lo son próximos partos, próxima revisión, pesados, entre otros que lo mantendrán al tanto de todo lo que sucede en su Hacienda.
    </p>
</div>