@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Eventos";
}


<div>
    <h2>Aqui se muestran la forma de programar y tener presente sos futuros envento de su hacienda como 
    proximos partos</h2>
</div>