@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Condición corporal";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_Title")
    </div>
    <div class="col-md-12">
        <p class="lead">
            La condición corporal es un parámetro que evalúa la condición física del animal
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Condicioncorporal">Condición corporal</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Condicioncorporal">Condición corporal</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para algunos casos se utiliza del 1 al 5 indicando
                    el número 1 para animales muy delgados y el número 5 para animales muy gordos. Hay otras nomenclaturas que pudieran cambiar
                    este criterio.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftApp/Content/img/captures/Condicion_corporal.jpg" class="thumbnail" data-lightbox="Hierrosyseñales" data-title="Condición corporal">
                    <img class="img-responsive" src="~/Areas/GanSoftApp/Content/img/captures/Condicion_corporal.jpg" alt="Condición corporal" />
                </a>
            </div>
        </div>
    </div>
</article>