@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Pesajes de leche";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>

    <div class="col-md-12">
        <p class="lead">
            En esta parte podrá ubicar al animal de igual forma que en los pasos anteriores por medio del código que especifica un
            animal
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#HPesajesdeleche">Pesajes de leche</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Pesajesdeleche">Pesajes de leche</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Los pesajes de leche reflejan la siguiente información a continuación:
                </p>
                <ul>
                    <li>Fecha: Día del ultimo pesaje de leche del animal               </li>
                    <li>Locación: Lugar en el que se peso la leche por ultima vez     </li>
                    <li>Pesaje 1: Cantidad de leche por Kg. En el primer ordeño        </li>
                    <li>Pesaje 2: Cantidad de leche por Kg. En el segundo ordeño       </li>
                    <li>Total: Cantidad completa de leche entre todos los pesajes      </li>
                </ul>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftApp/Content/img/captures/pesajes_de_leche.jpg" class="thumbnail" data-lightbox="Hierrosyseñales" data-title="Pesajes de leche">
                    <img class="img-responsive" src="~/Areas/GanSoftApp/Content/img/captures/pesajes_de_leche.jpg" alt="Pesajes de leche" />
                </a>
            </div>
        </div>
    </div>
</article>