@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Secado";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            En esta parte puede encontrar al animal de igual forma que en los pasos anteriores proporcionando el código
            que identifique al animal que desea.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Secado">Secado</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Secado">Secado</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    posterior mente al momento de ubicar al animal se mostrara la siguiente información:
                </p>
                <ul>
                    <li>Fecha: Aproximación del ultimo día de secado   </li>
                    <li>Locación: Lugar donde paso su reposo el animal </li>
                </ul>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftApp/Content/images/captures/secado.jpg" class="thumbnail" data-lightbox="Secado" data-title="Secado">
                    <img class="img-responsive" src="~/Areas/GanSoftApp/Content/images/captures/secado.jpg" alt="Secado" />
                </a>
            </div>
        </div>
    </div>
</article>