@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Condición corporal";
    Page.SubTitle = "Este al tanto de todo";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    condición corporal es un parámetro que evalúa la condición física del animal, en algunos casos se utiliza del 1 al 5 indicando
                    el número 1 para animales muy delgados y el número 5 para animales muy gordos. Hay otras nomenclaturas que pudieran cambiar
                    este criterio
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/#" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/#" alt="sin imagen por error en la app" />
        </a>
    </div>
</div>