@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Peso corporal";
    Page.SubTitle = "Condición física del animal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Es la forma de reportar el peso histórico del animal de manera que pueda apreciar un total completo de las libras o kilos del
                    animal, de igual manera se identifica el animal por medio del código correspondiente del mismo, fecha del ultimo pesaje locación
                    del ultimo pesaje, tipo de pego y valor en el cual se refleja como por ejemplo (Kg.)
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/peso_corporal.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/peso_corporal.jpg" alt="Peso corporal" />
        </a>
    </div>
</div>