@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Peso corporal";
    Page.SubTitle = "Este al tanto de todo";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    “Es la forma de reportar el peso histórico del animal”
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/peso_corporal.jpg" alt="Peso corporal" />
    </div>
</div>