@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Eventos";
    Page.SubTitle = "Este al tanto de todo";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección usted podrá programar sus actividades, mas importantes como a su vez obtendrá las notificaciones más
                    importantes de sus próximos eventos como lo son próximos partos, próxima revisión, pesados, entre otros que lo mantendrán
                    al tanto de todo lo que sucede en su Hacienda.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <a href="https://itunes.apple.com/us/app/gansoft/id1058928443?mt=8" target="_blank">
                    <img class="img-responsive" src="~/images/Badges/appstore.png" alt="App Store" />
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="https://play.google.com/store/apps/details?id=com.softsupply.gansoft" target="_blank">
                    <img class="img-responsive" src="~/images/Badges/playstore.png" alt="Play Store" />
                </a>
            </div>
        </div>

    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="~/images/captures/eventos.jpg" alt="Eventos" />
    </div>
</div>