@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cambios de lote";
    Page.SubTitle = "Notifica tus cambios de ubicación";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta sección de la aplicación le permite notificar los cambios de la última locación de sus animales dentro de la hacienda por 
                    otra parte, también muestra la última fecha de visualización del ganado en la locación del momento correspondiente
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/cambios_de_lotes.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/cambios_de_lotes.jpg" alt="Cambios de lote" />
        </a>
    </div>
</div>