@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pesajes de leche";
    Page.SubTitle = "Cantidad de líquido por Kg.";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta parte podrá ubicar al animal animal de igual forma que en los pasos anteriores por medio del código que espeficica un
                    animal en concreto y visualizar la información que se presenta a continuación:<br />
                    -	Fecha: Día del ultimo pesaje de leche del animal<br />
                    -	Locación: Lugar en el que se peso la leche por ulñtima vez<br />
                    -	Pesaje 1: Cantidad de leche por Kg. En el primer ordeño<br />
                    -	Pesaje 2: Cantidad de leche por Kg. En el segundo ordeñp<br />
                    -	Total: Cantidad completa de leche entre todos los pesajes<br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/pesajes_de_leche.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/pesajes_de_leche.jpg" alt="Pesajes de leche" />
        </a>
    </div>
</div>