@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Notificación de inventario";
    Page.SubTitle = "Codigo, Fecha y Ubicación del animal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    La notificación de inventario es la forma de representar que el animal existe dentro de la misma hacienda ubicándolo de manera 
                    sencilla al colocar el código del animal en la parte superior de la pantalla y muestra la fecha del momento en que reporto al 
                    animal y la locación en la que se encontraba.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/notificacion_de_inventario.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/notificacion_de_inventario.jpg" alt="Notificación de inventario" />
        </a>
    </div>
</div>