@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Otros cambios";
    Page.SubTitle = "Cambios de parámetros";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección de la aplicación usted podrá modificar parámetros establecidos anterior mente para cada uno de sus animales si
                    así lo profiere, entre los parámetros que podrá cambiar se encuentran los siguientes valores:<br /><br />
                    -	Fecha: Día del nacimiento del animal<br />
                    -	Locación: Lugar donde nació el animal<br />
                    -	Id. Electrónico: numero definido para el animal<br />
                    -	Nombre: Demominacion para el animal<br />
                    -	Código: Caracter unico de identidad<br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/otros_cambios.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/otros_cambios.jpg" alt="Otros cambios" />
        </a>
    </div>
</div>