@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Servicio";
    Page.SubTitle = "subtitulo";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    texto de la pagina
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-responsive" src="#" alt="#" />
    </div>
</div>