@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Opciones";
}




<img class="captures" src="~/images/captures/opciones.jpg" /><p>Aquí podrá observar las opciones del sistema
    como lo es la versión actual de la App, como la información de contacto si desea obtener adquirir alguno de nuestros sistemas de servicio y la opción de poder sincronizar
    sus datos con nuestro servidor para un mayor respaldo.
 </p>