@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Opciones";
    Page.SubTitle = "Sincroniza tu App";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En la sección de opciones podrá acceder a la función de sincronización al igual que podrá observar la versión de la aplicación
                    actual y la información de contacto si desea comunicarse con el soporte técnico de la misma
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/opciones.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/opciones.jpg" alt="Opciones principales" />
        </a>
    </div>
</div>