@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Opciones";
    Page.SubTitle = "Sincroniza tu App";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    La función de sincronización le permite hacer un respaldo de sus datos en nuestro servidor teniendo un acceso completo a ellos y
                    evitando cualquier tipo de perdida por algún accidente desafortunado, verifique su conexión al momento de hacer su sincronización
                    errores en las redes pueden evitar el completo respaldo de su información con nuestro servidor.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/sincronizacion.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/sincronizacion.jpg" alt="Sincronización" />
        </a>
    </div>
</div>