@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Opciones";
    Page.SubTitle = "Sincroniza tu App";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Activando la función de sincronización podrá obtener un respaldo de la información de su hacienda ya que se mantendrá enlazada con
                    nuestro servidor virtual.
                    Al momento de realizar la sincronización verifique que su conexión web ya que de tener algún problema de conectividad la
                    transferencia de archivos puede resultar nula al momento de procesarla.<br />
                    <br />
                    Al activar la opción de sincronización podrá ver la fecha de la última vez que estuvo conectada con el servidor como también tendrá el estatus de la sincronización como tal<br />
                    -	Registros sincronizados: cantidad de registros guardados<br />
                    -	Configuraciones sincronizadas: configuraciones guardadas<br />
                    -	Códigos sincronizados: códigos guardados<br />
                    -	Animales sincronizados: cantidad de animales guardados<br />
                    -	Pendiente por sincronizar: datos pendientes por respaldar<br />
                    -	Nuevos registros: nuevos datos pendientes por sincronizar<br />
                    -	Registros modificados: cantidad de registros modificados después de la sincronización<br />
                    -	Registros eliminados: cantidad de elementos eliminados después de la sincronización<br />
                    Al cabo de poder llevar un registro completo de todos los archivos respaldados en nuestro servidor y que usted se mantenga al tanto de todo de una manera fácil y concreta de procesar.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/sincronizacion.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/sincronizacion.jpg" alt="Sincronización" />
        </a>
    </div>
</div>