@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Opciones";
}


<div>
    <h2>Aqui puede acceder a la sincronizacion y mantener su dispositivo junto con la aplicacion a la par
    con nuestros sistemas</h2>
</div>