@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Lista de Animales";
}




<img src="~/images/captures/listadeanimales.jpg" alt="Listado de animales" height="550px" style="float:right; margin:10px;"/><div>
    <p>Muestra la información de algunos de sus animales o de todos estos según sea la especificación que se le proporcione al sistema al momento de buscar algún animal en particular en la base de datos del sistema.</p>
</div>