@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Listado";
}




<img src="~/images/captures/codigos1.jpg" alt="codigos" height="550px" style="float:right; margin:10px;" /><div>
    <p>Los códigos son unas de las maneras de simplificar las opciones de su ganado, como otorgarles nombres únicos a sus animales para poder identificarlos de una manera más fácil y concreta teniendo a disposición cada animal al momento de buscarlo en la lista de animales. </p>
</div>