@media (min-width: 768px) {
  body {
    padding-left: 300px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 51px;
  }
}

.navmenu-nav > li>a>b.caret {
    margin-top: 8px;
}

/* MENU COLORS */

.navmenu-nav {
    /*position: absolute;*/
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navmenu-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.navmenu-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.navmenu-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.navmenu-nav li:nth-child(2):before {
    background-color: #ec1b5a; 
}
.navmenu-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.navmenu-nav li:nth-child(4):before {
    background-color: #314190;   
}
.navmenu-nav li:nth-child(5):before {
    background-color: #279636;   
}
.navmenu-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.navmenu-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.navmenu-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.navmenu-nav li:nth-child(9):before {
    background-color: #35acdf;   
}

/* ANIMATIONS */

.navmenu-nav li:hover:before,
.navmenu-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.navmenu-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.navmenu-nav li a:hover,
.navmenu-nav li a:active,
.navmenu-nav li a:focus,
.navmenu-nav li.open a:hover,
.navmenu-nav li.open a:active,
.navmenu-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

/* CAMBIOS */

body {
    background-color: black;
}

p {
    color: white;
    font-size: 20px;
    font-family: 'Century Gothic';
    margin-top: 20px;
            
}

#body {
    padding-bottom: 60px;
}

.page-header
{
    color: white;
    border-bottom: none;
    margin-bottom: 0px;
}

.page-header h1 small:before{
    content: '\A';
    white-space: pre;
}

.col-md-6 {
    width: 150px;
    top: 50px;
}

h2 {
    color: white;
    font-size: 20px;
    font-family: 'Century Gothic';
    top: 0px;
}
h3 {
    color:green;
}
