@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Perfil";
}


<img class="captures" src="~/images/captures/perfil.jpg" alt="Perfil de la Cuenta"/><div>
    <p>Ahora bien, aquí será visible la información suministrada por el usuario previamente ingresada tras completar la fase de registro, también podrá observar el estado de su Licencia, Tiempo de uso y Fecha de caducidad.</p>
</div>

