@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registrarse";
}


<img src="~/images/captures/registro.jpg" alt="Registro de Cuenta" height="550px" style="float:right; margin:10px;" /><div>
    <p>
        Para poder tener acceso a las funciones de la aplicación debe estar registrado previamente en nuestro sistema, teniendo la opción de registrase directamente a través de nuestro sitio web, www.softsupply.com o bien pueda a través de la opción de registro ubicada en la parte inferior de nuestra App.
    </p>
</div>