@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Inicio de sesión";
}

<center>
    <img src="~/images/captures/iniciodesesion.jpg" alt="Incio de sesion" height="550px" style="margin: 0px 0px;" /><div>
        <p>
            Para poder iniciar sesión debe estar registrado previamente en nuestro sistema de registro,
            o puede hacerlo directamente después de haber descargado nuestra aplicación en la parte inferior de iniciar sesión.
        </p>
    </div>
</center>