@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registrarse";
}


<img class="captures" src="~/images/captures/registro.jpg" alt="Registro de Cuenta" /><div>
    <p>
        Para registrase en el sistema debe completar los siguientes campos, Nombre se usuario, Correo electrónico, Contraseña y país donde reside al momento, posteriormente presionar la opción de confirmar para finalizar con la operación.
    </p>
</div>