@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Iniciar sesión";
    Page.SubTitle = "Comience a utilizar Gansoft App";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Para iniciar sesión debe estar previamente registrado en el sistema, de igual forma puede hacerlo a través
                    de nuestro sitio web www.softsupply.com o en el botón de registro que se muestra en la parte inferior de la
                    pantalla de la aplicación.
                </p>
                <p>
                    Es importante mantener una cuenta activa en la aplicación ya que de esta forma puede mantener sus datos sincronizados con
                    nuestro servidor y contar con un respaldo.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/iniciodesesion.jpg" data-lightbox="image-1" data-title="">
            <img class="img-responsive" src="~/images/captures/iniciodesesion.jpg" alt="Registrarse" />
        </a>
    </div>
</div>